.main-layout-component{
    .main-layout-component-header{
        background-color: #404040;
        margin-bottom:  12px;
        padding:  42px;
        li, a {

            color: white;
        }
    }
    .main-layout-component-main{
        background-color: #505050;
        padding:  42px;
    }
}