.quinta-aula-item-component{
    border-radius: 12px;
    width: fit-content;
    display:  flex;
    flex-direction: column;
    gap: 6px;
    background-color: #a6d3c8;
    img{
        width: 200px;
    }
}